
.mapContainer {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
}

.plusBtn {
    border: none;
    background-color: Transparent;
    outline: none;
    position: absolute;
    bottom: 0;
    right: 0;
    margin-right: 20px;
    margin-bottom: 20px;
    /*transform-origin: bottom right;*/
    /*transform: translate(100%, 100%);*/
}

.closeBtn {
    position: absolute;
    right: 0;
}

.dialogTitle {
    margin: 0;
}

.editorContainer {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 30%;
    background-color: #2E3440;
}

.jsonEditor {
    margin: 20px 0 10px 0;
}

.editButtonContainer {
    height: 18%;
}

.leftEditorButton {
    position: absolute;
    left: 15%;
}

.rightEditorButton {
    position: absolute;
    right: 15%;
}

@media screen and (max-width: 950px) {
    .leftEditorButton {
        position: static;
        margin-bottom: 10px;
        text-align: center;
    }

    .rightEditorButton {
        position: static;
        text-align: center;
    }
}