
/*.editorContainer {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    background-color: #2E3440;
}

.jsonEditor {
    margin: 20px 0 10px 0;
}

.leftEditorButton {
    position: absolute;
    left: 15%;
}

.rightEditorButton {
    position: absolute;
    right: 15%;
}*/